.form-control,.form-control:focus{
    background-color: rgb(2, 0, 31);
    border-radius: 10px;
border: none !important;
color: white;
}
.searchbar
{
    background-color: rgb(2, 0, 31);
    border-radius: 10px;
filter: drop-shadow(5px 5px 5px black);
margin-top: 10px;
color: white;
}

.form-control::placeholder,.form-control::content
{
    color: rgb(186, 186, 186) !important;
    font-weight: 200;
}
.input-group-text
{
    background-color: rgb(2, 0, 31);
    color: white;
    border: none;
}
.searchbar
{
    border: 1px solid white;
}
.search-icon{
    border-radius: 100%;
}