.form-control,.form-control:focus{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
border: none !important;
color: rgb(0, 0, 0);
}
.searchbar
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
filter: drop-shadow(5px 5px 5px black);
margin-top: 10px;
color: rgb(0, 0, 0);
border: 2px solid rgb(14, 0, 71);
}

.form-control::placeholder,.form-control::content
{
    color: rgb(186, 186, 186) !important;
    font-weight: 200;
}
.input-group-text
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
}
.searchbar
{
    border: 1px solid white;
}
.search-icon{
    border-radius: 100%;
}